<h2> HI Dr.<%= result[0].first_name %> </h2>
<br>
<form action="/message" method='post'>
 Please re-enter E-mailid:<br>
  <input type="text" name="emailid" required>
  <br><br>

<input type="submit" value="View messages">
</form>
