<!DOCTYPE html>
<html>
<body>



<form action="/dochome" method='post'>
  E-mailid:<br>
  <input type="text" name="emailid" required>
  <br>
  Password:<br>
  <input type="password" name="password" required>
  <br><br>
  <input type="submit" value="Submit">
</form>



</body>
</html>
