<!DOCTYPE html>
<html>
<body>

<h2>Welcome to Healthcaresystem</h2>
<form action="/patient" method='post'>
<button type="submit" value="Submit">Patient Info</button>
</form>
<br><br>
<form action="/doctor" method='post'>
<button type="submit" value="Submit">Doctor Info</button>
</form>
<br><br>
<form action="/pat" method='post'>
  <input type="number" name='input'></input>
  <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>


<!--<a href='/register'>New patient please register</a>
<br>
<br>
<a href='/login'>Already Registered please login</a>-->
