<!DOCTYPE html>
<html>
<body>

<h2>Register</h2>
<br><br>

<form action="/index" method='post'>
  First name:<br>
  <input type="text" name="firstname" required >
  <br>
  Last name:<br>
  <input type="text" name="lastname" required >
  <br>
  Middle name:<br>
  <input type="text" name="middlename"  >
  <br>
  E-mail Id:<br>
  <input type="text" name="emailid" required >
  <br>
  Phone Number:<br>
  <input type="text" name="phonenumber" required >
  <br>
  Date of Birth:<br>
  <input type="date" name="dateofbirth" required >
  <br>
  Password:<br>
  <input type="password" name="password" required>
  <br>
  Blood Group:<br>
  <input type="text" name="bloodgroup" required>
  <br>
  Medical History:<br>
  <textarea name="medicalhistory" cols="40" rows="5"></textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>



</body>
</html>
