<!DOCTYPE html>
<html>
<body>



<form action="/viewslots" method='post'>
  Please enter the doctor name:<br>
   <input type="text" name="doctorname" required>
   <br><br>

  <input type="submit" value="View slots">
</form>



</body>
</html>
