<html>
<title>
  Success
</title>
<body>
  <h2>You are logged in successfully</h2>
  <br>

  <a href=/index>Click here to go to home page</a>
  <br>
  <a href=/slot>Check for doctors based on qualification</a>
  <br>
  <a href=/searchslots>View available slots for appointment</a>


</body>

</html>
