<body>
    <table id="table" border="1">
        <thead>
            <tr>
                <th>Time</th>
                <th>status</th>

            </tr>
        </thead>
         <tbody>
         <% result.forEach(function (user) { %>
            <tr>
                <td><%= user.available_time %></td>
                <td><%= user.status %></td>

            </tr>
         <% }) %>
         </tbody>
    </table>
</body>
