<html>
<title>
  Welcome
</title>
<body>
  <h2>Welcome to healthcare system</h2>
  <br>
  <h3>Already a Registered User</h3>
  <a href=/login>Click here to login as patient</a>
  <br>
  <a href=/doclogin>Click here to login as doctor</a>
  <br>
  <h3>Not Registerd</h3>
  <a href=/register>Click here to register</a>
</body>

</html>
